
@{
    ViewBag.Title = "Login Fail";
}

<div class="d-flex justify-content-center align-items-center mt-5" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Oops!</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">No Account Found</h2>
        <a href="~/Sellers/Create" class="btn btn-link">Become a Seller</a>
    </div>
</div>