
@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>
<body>
    <h3> Guaranteed Clothes </h3>
    <div>
        @Html.ActionLink("List of Sellers", "Index", "Sellers") <br />
        @Html.ActionLink("List of Clothes", "Index", "Clothes") <br />
    </div>
</body>
