
@{
    ViewBag.Title = "Clothes Online";
}
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @*Product photos*@
    <div>
        <div class="row text-center mb-5">
            <img src="~/Images/homepageMain.jpg" class="img-fluid" />
        </div>
        <div class="row text-center">
            <div class="col-md-8 mb-5">
                <img src="~/Images/homepageT.jpg" class="img-fluid" />
            </div>
            <div class="col-md-4 mb-5">
                <img src="~/Images/homepageJacket.jpg" class="img-fluid" />
            </div>
        </div>
    </div>

    @*<div>
        @Html.ActionLink("List of Sellers", "Index", "Sellers") <br />
        @Html.ActionLink("List of Clothes", "Index", "Clothes") <br />
    </div>*@
</body>
